.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  position: relative;
  overflow-y: hidden;
}

.first {
  position: absolute;
  font-size: 15rem;
  top: 0;
  z-index: 20;
  padding-top: 400px;
  color: transparent;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.second {
  font-size: 8rem;
  position: relative;
  padding-top: 200px;
  z-index: 10;
  color: transparent;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
}

.third {
  position: absolute;
  font-size: 3rem;
  top: 120px;
  z-index: 0;
  color: transparent;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.slider {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.sliderwrap {
  position: fixed;
  top: 24px;
  width: 50vw;
  left: 50vh;
  transform: translateX(-50%);
  height: 24px;
  padding: 12px;
  z-index: 50;
}