.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  position: relative;
  overflow-y: hidden;
}

.first {
  position: absolute;
  font-size: 15rem;
  top: 0;
  z-index: 20;
  padding-top: 400px;
}

.second {
  font-size: 8rem;
  position: relative;
  padding-top: 200px;
  z-index: 10;
}

.third {
  position: absolute;
  font-size: 3rem;
  top: 120px;
  z-index: 0;
}

.slider {
  position: fixed;
  top: 24px;
  width: 100vw;
  height: 24px;
  z-index: 50;
  background-color: #fff;
}